@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    padding: 10px;
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #0dd9d9;
    background-image: linear-gradient(90deg, #0dd9d9 0%, #23b7d9 17%, #3d90d9 39%, #614ed9 70%, #8911d9 95%);
    color: white;
}

.nav__bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.logo{
    background: none;
}

.title__item{
    background: none;
    padding-right: 10rem;
}

.list__item{
    background: none;
}

.button__nav{
    background: none;
    padding-left: 10rem;
}

.contact__nav{
    background: none;
    border-radius: 20px;
    border-color: white;
}

.section__home{
    background: none;
    margin-right: 50rem;
    margin-top: 3rem;
    padding: 4.5rem;
    padding-right: 10rem;
    width: 60%;
    font-family: 'Poppins', sans-serif;
}

.home__title{
    background: none;
    font-size: 60px;
    font-weight: 600;
}

.home__paragraph{
    background: none;
}

.button__home{
    margin-top: 1rem;
    background:#614ed9;
    border: none;
    border-radius: 20px;
}

.footer__copyright{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    background: none;
    padding: 10px;
    margin-left: 3rem;
}
    

